{% extends "idea_rank/base.html" %}

{% block content %}
    <div class="container-fluid">
        <h1>Ideas</h1>
        <p>This page is just to test the database model.</p>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Author</th>
                    <th scope="col">Score</th>
                    <th scope="col">Created</th>
                    <th scope="col">Modified</th>
                    <th scope="col">Release</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in all_idea_list %}
                <tr> 
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.author }}</td>
                    <td>{{ item.score }}</td>
                    <td>{{ item.created }}</td>
                    <td>{{ item.modified }}</td>
                    <td>{{ item.release }}</td>
                    <td>{{ item.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}